@tailwind base;
@tailwind components;
@tailwind utilities;

.about-list-item {
  @apply text-light-purple w-2/3 flex flex-row gap-2 hover:text-green
}
.about-p{
  @apply text-light-purple w-2/3 pt-4 pb-4 m-0
}

.featured-project{
  @apply text-green text-sm mb-0.5
}

.featured-project-title {
  @apply text-light-purple text-3xl hover:text-green
}
.featured-project-description {
  @apply text-light-purple bg-ming text-xl w-[30em] p-8 mt-16 mb-2 z-40 rounded-md shadow-md hover:shadow-2xl 
}
/* transition peer-hover/video:opacity-5 peer-hover/video:duration-300 */
.featured-project-ul {
  @apply flex flex-row gap-4 w-[30em] z-50
}
/* .featured-extra{
  @apply relative -bottom-12
} */

.side-panel-item{
  @apply text-light-purple transition ease-in-out delay-100 hover:-translate-y-1 hover:scale-110 hover:text-green duration-300 pt-2 ml-2
}

::-webkit-scrollbar {
  height: 2em
}
::-webkit-scrollbar-button {
  background: #ccc;
  height: 12px;
}
::-webkit-scrollbar-track-piece {
  background: #888
}
::-webkit-scrollbar-thumb {
  background: #eee
}
